body{
colo:black;
font-family:Arial;
margin:0px
}

div{
background-color:lightblue;
border:solid 10px lightgray;
}
.second-div {
background-color:lightpink;
}
#second-li{
    font-size: 15px;
}
img{
width: 300px;
border-radius: 50px;